<app-nav-bar></app-nav-bar>
<div class="container">
    <h1 class="h1 text-center pt-3">List of Posts</h1>
    <div *ngIf="allPosts.length === 0" class="h3 text-danger text-center">
      <div class="spinner-border" role="status"></div>
      No Posts...
    </div>
    <div class="row pt-3 gy-4"> 
        <div *ngFor="let post of allPosts" class="col-12">
          <div class="card bg-success text-white">
              <div class="card-body">
                  <h5 class="card-title fs-4">{{post.title}}</h5>
                  <p class="card-text">{{post.body}}</p>
              </div>
          </div>
        </div>
    </div>
</div>